{
  "IsEncrypted": false,
  "Values": {
    "AzureWebJobsStorage": "UseDevelopmentStorage=true",
    "FUNCTIONS_WORKER_RUNTIME": "dotnet-isolated",
    "Waltti__DatabasePath": "data/waltti.db",
    "Waltti__FeedId": "Vaasa",
    "Waltti__DigitransitApiUrl": "https://api.digitransit.fi/routing/v2/waltti/gtfs/v1",
    "Waltti__DigitransitApiKey": "your_api_key_here"
  },
  "Host": {
    "CORS": "*"
  }
}
